<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{stock.symbol}}</ion-card-subtitle>
    <ion-card-title>{{stock.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2>Summary</h2>
    <p><strong>Sell above:</strong> ${{stock.prices.sell}}</p>
    <p><strong>Current:</strong> ${{stock.prices.current}}</p>
    <p><strong>Buy below:</strong> ${{stock.prices.buy}}</p>
    <hr />
    <h2>Suggestions</h2>
    <p><strong>Watch daily:</strong> {{stock.suggestions.watch}}</p>
    <p><strong>Buy:</strong> {{stock.suggestions.sell}}</p>
    <p><strong>Sell:</strong> {{stock.suggestions.buy}}</p>
    <hr />
    <p><a [routerLink]="['/tabs', 'notes', stock.symbol | lowercase]">View notes</a></p>
  </ion-card-content>
</ion-card>
